[user]
  name = Gang Li
  email = ligangty@users.noreply.github.com
[color]
  ui = true
[alias]
  tree = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  rebasehead = rebase -i HEAD~2
  so = show --name-only
  co = checkout
  b = branch
  s = status
  f = fetch --all
  p = push
  l = pull
  lg = log
  lgo = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ca = commit -v -a
[core]
  editor = vim
[hub]
  protocol = https
[url "git@github.com:"]
	insteadOf = https://github.com/
