# ${HOME}/.bashrc

export HOME="{{ lookup('env', 'HOME')|default(default_home) }}"

#git
function git_branch {
    ref=$(git symbolic-ref HEAD 2> /dev/null) || return;
    echo "("${ref#refs/heads/}") ";
}
export PS1="[\u@laptop:\[\033[1;32m\]\W\[\033[0m] \033[1;36m\]\$(git_branch)\[\033[0m\]$ "

# atom file deletion not working
export ELECTRON_TRASH=gio

source $HOME/.aliases

source $HOME/.bashrc_jvm
source $HOME/.bashrc_go
source $HOME/.bashrc_py
source $HOME/.bashrc_rust

. /usr/share/autojump/autojump.sh
source /usr/share/bash-completion/completions/git