# ${HOME}/.bashrc

#export JAVA_HOME=/usr/lib/jvm/java
export HOME="{{ lookup('env', 'HOME')|default(default_home) }}"

# maven
export MVN_HOME=$HOME/devlib/{{ maven_dest }}
export PATH=$PATH:$MVN_HOME/bin
export MAVEN_OPTS='-Xms1024m -Xmx4096m -XX:MetaspaceSize=512m -XX:MaxMetaspaceSize=3072m'
alias mvnnossl='mvn -Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.allowall=true'

# ant
export ANT_HOME=$HOME/devlib/{{ ant_dest }}
export PATH=$PATH:$ANT_HOME/bin

# gradle
export GRADLE_HOME=$HOME/devlib/{{ gradle_dest }}
export PATH=$PATH:$GRADLE_HOME/bin

# GOPATH & GOROOT
export GOPATH=$HOME/mygopath
export GOROOT=/usr/lib/golang

# RUST Cargo
export CARGO_HOME=$HOME/.cargo
export PATH=$PATH:$CARGO_HOME/bin

# visualvm
export VISUALVM_HOME=$HOME/devlib/visualvm_14
export PATH=$PATH:$VISUALVM_HOME/bin

#git
function git_branch {
    ref=$(git symbolic-ref HEAD 2> /dev/null) || return;
    echo "("${ref#refs/heads/}") ";
}
export PS1="[\u@laptop:\[\033[1;32m\]\W\[\033[0m] \033[1;36m\]\$(git_branch)\[\033[0m\]$ "

# extract all kinds of archive
extract() {
    if [ -f $1 ] ; then
      case $1 in
        *.tar.bz2)   tar xjf $1     ;;
        *.tar.gz)    tar xzf $1     ;;
        *.bz2)       bunzip2 $1     ;;
        *.rar)       unrar e $1     ;;
        *.gz)        gunzip $1      ;;
        *.tar)       tar xf $1      ;;
        *.tbz2)      tar xjf $1     ;;
        *.tgz)       tar xzf $1     ;;
        *.zip)       unzip $1       ;;
        *.Z)         uncompress $1  ;;
        *.7z)        7z x $1        ;;
        *)     echo "'$1' cannot be extracted via extract()" ;;
         esac
     else
         echo "'$1' is not a valid file"
     fi
}

# atom file deletion not working
export ELECTRON_TRASH=gio

source $HOME/.aliases
source /etc/profile.d/autojump.sh
source /usr/share/bash-completion/completions/git